In [ ]:
import os
import pandas as pd

In [27]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
os.chdir('/content/drive/MyDrive/PDS_Assign2/')

In [29]:
data = pd.read_csv('raw_data.csv')
data.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49

In [ ]:
# Task-2: Removing units from the attributes
data['Mileage'] = data['Mileage'].str.extract('(\d+\.\d+)')
data['Mileage'] = data['Mileage'].astype(float)

data['Engine'] = data['Engine'].str.extract('(\d+)')
data['Engine'] = data['Engine'].astype(float)

data['Power'] = data['Power'].str.extract('(\d+\.\d+)')
data['Power'] = data['Power'].astype(float)

data['New_Price'] = data['New_Price'].str.extract('(\d+\.\d+)')
data['New_Price'] = data['New_Price'].astype(float)

data.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,NaN,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54,1598.0,103.60,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.30,1248.0,NaN,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.80,1497.0,116.30,5.0,NaN,4.49

In [ ]:
# Dropping the first column which is just a row number
data = data.iloc[:, 1:]

In [ ]:
#Task-1:

# Identifing missing values in all columns
missing_values = data.isnull().sum()
print(missing_values)

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 3
Engine                 36
Power                2212
Seats                  38
New_Price            5046
Price                   0
dtype: int64

In [ ]:
# Drop the New_Price column
data.drop(columns=['New_Price'], inplace=True)

# Handle missing values: For now, we'll fill missing values with the mean of the respective columns
data['Mileage'].fillna(data['Mileage'].mean(), inplace=True)
data['Engine'].fillna(data['Engine'].mean(), inplace=True)
data['Power'].fillna(data['Power'].mean(), inplace=True)
data['Seats'].fillna(data['Seats'].mean(), inplace=True)

In [ ]:
# Identifing missing values in all columns
missing_values = data.isnull().sum()
print(missing_values)

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [ ]:
# Task-3:

# Convert categorical variables to numerical one-hot encoded values
encoded_data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'])
encoded_data.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.670000,1582.0,126.20,5.0,12.50,1,0,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,18.159379,1199.0,88.70,5.0,4.50,0,0,1,0,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.770000,1248.0,88.76,7.0,6.00,1,0,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.200000,1968.0,140.80,5.0,17.74,1,0,0,1,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.080000,1461.0,63.10,5.0,3.50,1,0,0,0,1

In [ ]:
# Task-4:

import datetime as dt

# Calculating the current year
current_year = dt.datetime.now().year

# Create the new feature 'Car_Age' by subtracting 'Year' from the current year
data['Car_Age'] = current_year - data['Year']

data.head(10)

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.670000,1582.0,126.200000,5.0,12.50,1,0,0,0,1,9
1,Honda Jazz V,Chennai,2011,46000,First,18.159379,1199.0,88.700000,5.0,4.50,0,0,1,0,1,13
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.770000,1248.0,88.760000,7.0,6.00,1,0,0,0,1,12
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.200000,1968.0,140.800000,5.0,17.74,1,0,0,1,0,11
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.080000,1461.0,63.100000,5.0,3.50,1,0,0,0,1,11
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.360000,2755.0,171.500000,8.0,17.50,1,0,0,1,0,8
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.540000,1598.0,103.600000,5.0,5.20,1,0,0,0,1,11
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Second,22.300000,1248.0,107.352151,5.0,1.95,1,0,0,0,1,12
8,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.560000,1462.0,103.250000,5.0,9.95,0,0,1,0,1,6
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,First,16.800000,1497.0,116.300000,5.0,4.49,0,0,1,1,0,12

In [ ]:
# Task-5

# Select
selected_data = data[['Name', 'Location', 'Year', 'Mileage', 'Price']]

# Filter
filtered_data = data[data['Price'] > 25]

# Rename
renamed_data = data.rename(columns={'Year': 'Manufacture_Year', 'Price': 'Selling_Price'})

# Mutate
data['Price_Category'] = pd.cut(data['Price'], bins=[0, 5, 10, 15, 20, 25, 30], labels=['<5', '5-10', '10-15', '15-20', '20-25', '>25'])

# Arrange
arranged_data = data.sort_values(by='Year', ascending=False)

# Summarize
summary_data = data.groupby('Location')['Price'].mean()

# Displaying results
print("Selected Data:")
print(selected_data.head())

print("\nFiltered Data:")
print(filtered_data.head())

print("\nRenamed Data:")
print(renamed_data.head())

print("\nMutated Data with Price Category:")
print(data.head())

print("\nArranged Data:")
print(arranged_data.head())

print("\nSummary Data (Average Price by Location):")
print(summary_data)

Selected Data:
                               Name    Location  Year    Mileage  Price
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015  19.670000  12.50
1                      Honda Jazz V     Chennai  2011  18.159379   4.50
2                 Maruti Ertiga VDI     Chennai  2012  20.770000   6.00
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013  15.200000  17.74
4            Nissan Micra Diesel XV      Jaipur  2013  23.080000   3.50

Filtered Data:
                                                Name    Location  Year  \
11                  Land Rover Range Rover 2.2L Pure       Delhi  2014
17  Mercedes-Benz New C-Class C 220 CDI BE Avantgare   Bangalore  2014
36                  Mercedes-Benz M-Class ML 350 CDI        Pune  2013
60    Mercedes-Benz New C-Class C 200 CGI Avantgarde       Delhi  2015
65          Mercedes-Benz C-Class Progressive C 220d  Coimbatore  2019

    Kilometers_Driven Owner_Type  Mileage  Engine       Power  Seats  Price  \
11              72000      First    12.70  2179.0  187.700000    5.0  27.00
17              78500      First    14.84  2143.0  167.620000    5.0  28.00
36              85000      First    11.74  2987.0  254.800000    5.0  28.00
60              58000      First    11.74  1796.0  107.352151    5.0  26.70
65              15369      First     0.00  1950.0  107.352151    5.0  35.67

    Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
11                 1                   0                 0
17                 1                   0                 0
36                 1                   0                 0
60                 0                   0                 1
65                 1                   0                 0

    Transmission_Automatic  Transmission_Manual  Car_Age
11                       1                    0       10
17                       1                    0       10
36                       1                    0       11
60                       1                    0        9
65                       1                    0        5

Renamed Data:
                               Name    Location  Manufacture_Year  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune              2015
1                      Honda Jazz V     Chennai              2011
2                 Maruti Ertiga VDI     Chennai              2012
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore              2013
4            Nissan Micra Diesel XV      Jaipur              2013

   Kilometers_Driven Owner_Type    Mileage  Engine   Power  Seats  \
0              41000      First  19.670000  1582.0  126.20    5.0
1              46000      First  18.159379  1199.0   88.70    5.0
2              87000      First  20.770000  1248.0   88.76    7.0
3              40670     Second  15.200000  1968.0  140.80    5.0
4              86999      First  23.080000  1461.0   63.10    5.0

   Selling_Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0          12.50                 1                   0                 0
1           4.50                 0                   0                 1
2           6.00                 1                   0                 0
3          17.74                 1                   0                 0
4           3.50                 1                   0                 0

   Transmission_Automatic  Transmission_Manual  Car_Age
0                       0                    1        9
1                       0                    1       13
2                       0                    1       12
3                       1                    0       11
4                       0                    1       11

Mutated Data with Price Category:
                               Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

  Owner_Type    Mileage  Engine   Power  Seats  Price  Fuel_Type_Diesel  \
0      First  19.670000  1582.0  126.20    5.0  12.50                 1
1      First  18.159379  1199.0   88.70    5.0   4.50                 0
2      First  20.770000  1248.0   88.76    7.0   6.00                 1
3     Second  15.200000  1968.0  140.80    5.0  17.74                 1
4      First  23.080000  1461.0   63.10    5.0   3.50                 1

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
0                   0                 0                       0
1                   0                 1                       0
2                   0                 0                       0
3                   0                 0                       1
4                   0                 0                       0

   Transmission_Manual  Car_Age Price_Category
0                    1        9          10-15
1                    1       13             <5
2                    1       12           5-10
3                    0       11          15-20
4                    1       11             <5

Arranged Data:
                                 Name    Location  Year  Kilometers_Driven  \
5405        Renault KWID RXT Optional       Kochi  2019               6568
942   Ford Endeavour 2.2 Trend AT 4X2       Kochi  2019              11209
5533        Maruti Omni 5 Seater BSIV  Coimbatore  2019               4721
770             Mahindra XUV500 W9 AT  Coimbatore  2019              19654
4267       Maruti Swift Dzire AMT ZDI     Chennai  2019              65000

     Owner_Type  Mileage  Engine       Power  Seats  Price  Fuel_Type_Diesel  \
5405      First    25.17   799.0   53.300000    5.0   5.09                 0
942       First    12.62  2198.0  107.352151    7.0  31.15                 1
5533      First    14.00   796.0  107.352151    5.0   4.11                 0
770       First    14.00  2179.0  107.352151    7.0  17.63                 1
4267      First    26.59  1248.0  107.352151    5.0   6.75                 1

      Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
5405                   0                 1                       0
942                    0                 0                       1
5533                   0                 1                       0
770                    0                 0                       1
4267                   0                 0                       1

      Transmission_Manual  Car_Age Price_Category
5405                    1        5           5-10
942                     0        5            NaN
5533                    1        5             <5
770                     0        5          15-20
4267                    0        5           5-10

Summary Data (Average Price by Location):
Location
Ahmedabad      8.567248
Bangalore     13.482670
Chennai        7.958340
Coimbatore    15.160206
Delhi          9.881944
Hyderabad      9.997423
Jaipur         5.916725
Kochi         11.309109
Kolkata        5.733924
Mumbai         9.592546
Pune           6.951000
Name: Price, dtype: float64